<footer>
    <div class="footer--full">
        <div class="footer-columns">
            {% for column in site.data.footer %}
            <ul class="footer-links">
                {% for link in column.links %}
                    <li><a href="{{ link.link }}">
                        {{ link.name }}</a></li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
        <p class="copyright">&copy; {{ site.time | date: '%Y' }} powered by <a href="www.cloudecosystem.org">Cloud Ecosystem e.V.</a> • <a href="https://www.openintegrationhub.org/impressum/">Imprint</a> &amp; <a href="https://www.openintegrationhub.org/datenschutz/">Privacy</a></p>
    </div>
</footer>